@media (min-width: 1441px) and (max-width: 2560px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1024px) {
    .content .package-listing > li figure{width: auto;}
    .content .package-listing > li figure ~ .details{width: calc(100% - 190px);padding: 20px;}
}
@media screen and (max-width: 991px) {
    .content .package-listing > li{flex-direction: column;}
    .content .package-listing > li figure{width: 100%;height: 240px;}
    .content .package-listing > li figure ~ .details{width: 100%;}
    .logo-bar .contact-num a{font-size: 14px;overflow-wrap: anywhere;}
    .logo-bar .contact-num .callBlock a:first-child:before{top:2px}
    .logo-bar .contact-num .emailBlock a:before{top:-7px}
}
@media screen and (max-width: 768px) {
    .content .right{margin-bottom: 40px;}
    .thank-you-block{width: 90%;max-width: 90%;padding: 10px;margin: 40px auto;}
    .enquire-more{margin-bottom: 0;padding-bottom: 0;}
    .footer-link{display:block;margin-bottom: 10px;}
    .social-media{margin-top:20px;}
    .enquire-more .light-text{margin-bottom:0;}
    .visit-link{padding-bottom: 10px;display:block;}
}
@media screen and (max-width: 599px) {
    .logo-bar .contact-num a span{ display: none;}
    .logo-bar .contact-num .callBlock a:first-child:before{top:0}
    .logo-bar .contact-num .emailBlock a::before{top:0;}
    .logo-bar .contact-num{padding-left: 42px;margin-top: -40px;}
    .logo-bar .contact-num:before{top:4px}
}
@media screen and (max-width: 576px) {
    .banner figcaption{font-size: 80px;}
    .banner figcaption > span{font-size:16px;}
    .visit-link a{display:block;}
    .visit-link a + a{display:block;padding:0; margin:0; border:0;}
    .visit-link{display:block;width:100%;/* margin-bottom: 25px; */}
    .social-media{display:block;width:100%;margin-top: 0;}
    .footer-link{display: block;margin-bottom: 13px;}
    .enquire-more h3{font-size: 18px;}
    .enquire-more h3 > span{font-size: 18px;}
    .enquire-more .light-text{margin: 0;line-height: normal; margin-bottom: 6px;}
    .enquire-more{margin-bottom: 0;}
    .footer-sec > .container{margin: 0 15px;}
    .common.modal .itinerary > li{padding-left: 0; padding-top: 30px;}
}
@media screen and (max-width: 450px) {
    .copyright a, .copyright span{display: inline-block;margin-bottom: 4px;}
}
@media screen and (max-width: 375px) {
    .copyright{margin-bottom: 5px;}
    .social-media{margin-bottom: 30px;}
    .banner figcaption{font-size: 70px;}
}
@media screen and (max-width: 320px) {
}
