@media (min-width: 1441px) and (max-width: 2560px) {
}

@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 1024px) {
    .content .package-listing > li figure{width: auto;}
    .content .package-listing > li figure ~ .details{width: calc(100% - 190px);padding: 20px;}
    .logo-bar .contact-num a span{    display: none;}
    .logo-bar .contact-num ul.callBlock li:nth-child(2) img{position: relative; top: 0; width: 37px;height: 37px;}
    .logo-bar .contact-num .callBlock a:first-child:before{top: -18px;left: -10px;}
    /* kashmir page css  */
    .kashmir-page .banner{height: 600px;}
    .kashmir-page .banner figure img{    object-fit: cover;}
    .kashmir-page .banner figcaption{width: 100%; top: 45%;}
    .kashmir-page .banner figure figcaption h1{    font-size: 50px;}
    .kashmir-page .banner figure figcaption ul li:first-child h2{font-size: 20px;margin-top: 20px;}
    .kashmir-page .banner figure figcaption ul{justify-content: center;}
    .kashmir-page .swiper-container{    height: 330px;}
    .kashmir-page .banner figure figcaption ul li:nth-child(2) span{    font-weight: 400;   }
    .kashmir-page .banner figure figcaption ul li h2{    font-size: 30px;}
    .kashmir-page .content h5{padding: 0;}
    .kashmir-page .photo-grid{height: 229px;margin-right: 0;}
    .kashmir-page .content .explore-travel h5{    font-size: 27px;font-weight: 500;padding-bottom: 7px}
    .content .row .mobile-form {position: fixed;width: 100%;left: 0;z-index: 9;transition: all .5s ease-in;height: 42px;padding: 0;overflow: hidden;bottom: 0;text-align: center;}
    .content .row .mobile-form.openUp{height: 100vh;}
    .content .row .mobile-form .right{width: 100%;height: 100%;border-radius: 0; padding: 0;}
    /* .kashmir-page .content .row h3{padding: 10px;background: #9A2E00;color: #fff;} */
    .content .row .mobile-form h3{padding: 10px;background: #9A2E00;color: #fff;display: flex;justify-content: center;align-items: center;}
    .content .row .mobile-form h3 .downArrow{display: block; width: 15px; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(188deg) brightness(105%) contrast(100%);    margin-left: 10px;}
    .content .row .mobile-form h3 .downArrow.rotateArrow{transform: rotate(180deg);}
    .content .row .mobile-form .right form{padding: 13px 20px 20px 20px;}
    .content .row .mobile-form .mandate-txt{    right: 22px;top: -5px;}
    .banner ~ .content{margin-top: -3px;position: relative;}
    .home-page .mainWrapper .card-wrapper{flex-direction: column;width: 100%;}
    .home-page .mainWrapper .cards{width: 100%;margin-bottom: 5rem;}
    .home-page .home-banner{ height: 100%;background-size: cover;}
    .home-page .home-banner::after{    background: none;}
}

@media screen and (max-width: 991px) {
    .content .package-listing > li{flex-direction: column;}
    .content .package-listing > li figure{width: 100%;height: 240px;}
    .content .package-listing > li figure ~ .details{width: 100%;}
    .logo-bar .contact-num a{font-size: 14px;overflow-wrap: anywhere;}
    /* .logo-bar .contact-num .callBlock a:first-child:before{top:2px} */
    .logo-bar .contact-num .emailBlock a:before{top:-7px}
}

@media screen and (max-width: 768px) {
    .content .right{margin-bottom: 40px;}
    .thank-you-block{width: 90%;max-width: 90%;padding: 10px;margin: 40px auto;}
    .enquire-more{margin-bottom: 0;padding-bottom: 0;}
    .footer-link{display:block;margin-bottom: 10px;}
    .social-media{margin-top:20px;}
    .enquire-more .light-text{margin-bottom:0;}
    .visit-link{padding-bottom: 10px;display:block;}
}

@media screen and (max-width: 599px) {
    /* .logo-bar a img{    width: 90px;} */
    .logo-bar .contact-num a span{ display: none;}
    .logo-bar .contact-num .callBlock a:first-child:before{top:0}
    .logo-bar .contact-num .emailBlock a::before{top:0;}
    .logo-bar .contact-num{padding-left: 42px;margin-top: -40px;}
    .logo-bar .contact-num:before{top:4px}
    .logo-bar a img.logo-img{width: 90px;}
    .logo-bar .contact-num ul.callBlock{    margin-top: 35px;}
    .logo-bar .contact-num .callBlock a:first-child:before{top: -18px;}
    .kashmir-page .swiper-slide .img-slide #play-button img{    width: 36.33px;height: 41.148px;}
    /* kashmir page css  */
    .kashmir-page .banner figure img{object-fit: cover;}
    .kashmir-page .banner{height: 510px;}
    .kashmir-page .banner figure img{object-fit: cover;}
    .kashmir-page .swiper-slider-warpper{top: -50px;}
    .kashmir-page .banner figure figcaption h1{     font-size: 26px;line-height: 40px;}
    .kashmir-page .banner figure figcaption p{  font-size: 12px;margin-bottom: 3px;}
    .kashmir-page .banner figure figcaption ul{flex-wrap: wrap;justify-content: center;}
    .kashmir-page .banner figure figcaption ul li:first-child h2{font-size: 20px;margin-top: 5px;}
    .kashmir-page .banner figure figcaption ul li:nth-child(2){    border: none;}
    .kashmir-page .banner figure figcaption ul li:nth-child(2) span{    left: 85px;}
    .kashmir-page .banner figure figcaption ul li img{    width: 29.555px;margin-top: 0px;}
    .kashmir-page .banner figure figcaption ul li{    justify-content: center;}
    .kashmir-page .banner figure figcaption ul li span{    font-size: 14px;}
    .kashmir-page .banner figure figcaption ul li h2{    font-size: 25px; margin-top: 5px;}
    .kashmir-page .swiper-container{ height: 300px;}
    .kashmir-page .banner ~ .content{ margin-top: -60px; padding-top: 20px;}
    .kashmir-page .content h5{padding: 10px;font-size: 12px;line-height: 20px;margin-bottom: 1rem;font-weight: 400;}
    .content .row .mobile-form h3{    font-size: 15px; }
    .kashmir-page .content .row .itinerary-cards{    flex-direction: column; padding-right: 0;}
    .kashmir-page .content .row .img-wrapper{    margin-right: 0;}
    .kashmir-page .content .row .img-wrapper img{width: 100%;}
    .kashmir-page .content .row .itinerary-content h6{font-size: 14px;margin-top: 10px;}
    .kashmir-page .content .row .itinerary-content p{ font-size: 13px; line-height: 20px;}
    .kashmir-page .content .explore-travel h5{font-size: 20px;padding-bottom: 5px;}
    .kashmir-page .photo-grid{margin: 0; height: 438px;}
    .kashmir-page .photo-grid .column{ flex: 50%; max-width: 50%;}
    .kashmir-page .enquire-more{    padding: 10px;}
    .kashmir-page .enquire-more b{font-size: 12px;}
    .kashmir-page .enquire-more .light-text{    font-size: 13px;}
    .kashmir-page .footer-sec::before{width: 107%;height: 140px; bottom: 0;}
    .kashmir-page .footer-sec::after{    height: 142px;bottom: 70px;}
    form .form-group + .form-group{    margin-top: 10px;}
    .content .row .mobile-form h3{padding: 5px; margin-bottom: 0;}
    .content .row .mobile-form .mandate-txt{top: 5px;}
    .content .row .mobile-form{height: 35px;}
    .logo-bar .contact-num ul.callBlock{    margin-top: 35px;}
    .home-page .home-banner .dotted-circle .wrapper img{width: 100%;}
    .home-page .home-banner figure figcaption{    padding-top: 200px;    font-size: 75px;}
    .home-page .home-banner .mainWrapper{    padding: 0 10px;}
    .home-page .mainWrapper .cards .row .cards-content h5{left: 5px;top: 85px;font-size: 45px;}
    .home-page .mainWrapper .cards .row .cards-content h5 span{ font-size: 45px;line-height: 90px;}
    
}

@media screen and (max-width: 576px) {
    .banner figcaption{font-size: 80px;}
    .banner figcaption > span{font-size:16px;}
    .visit-link a{display:block;}
    .visit-link a + a{display:block;padding:0; margin:0; border:0;}
    .visit-link{display:block;width:100%;/* margin-bottom: 25px; */}
    .social-media{display:block;width:100%;margin-top: 0;}
    .footer-link{display: block;margin-bottom: 13px;}
    .enquire-more h3{font-size: 18px;}
    .enquire-more h3 > span{font-size: 18px;}
    .enquire-more .light-text{margin: 0;line-height: normal; margin-bottom: 6px;}
    .enquire-more{margin-bottom: 0;}
    .footer-sec > .container{margin: 0 15px;}
    .common.modal .itinerary > li{padding-left: 0; padding-top: 30px;}
}

@media screen and (max-width: 450px) {
    .copyright a, .copyright span{display: inline-block;margin-bottom: 4px;}
}

@media screen and (max-width: 375px) {
    .copyright{margin-bottom: 5px;}
    .social-media{margin-bottom: 30px;}
    .banner figcaption{font-size: 70px;}
}

@media screen and (max-width: 320px) {
}
