@font-face {
  font-family: 'poppins';
  src: url('../webfonts/poppins-light-webfont.eot');
  src: url('../webfonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/poppins-light-webfont.woff2') format('woff2'),
       url('../webfonts/poppins-light-webfont.woff') format('woff'),
       url('../webfonts/poppins-light-webfont.ttf') format('truetype'),
       url('../webfonts/poppins-light-webfont.svg#poppinslight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../webfonts/poppins-medium-webfont.eot');
  src: url('../webfonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/poppins-medium-webfont.woff2') format('woff2'),
       url('../webfonts/poppins-medium-webfont.woff') format('woff'),
       url('../webfonts/poppins-medium-webfont.ttf') format('truetype'),
       url('../webfonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../webfonts/poppins-regular-webfont.eot');
  src: url('../webfonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/poppins-regular-webfont.woff2') format('woff2'),
       url('../webfonts/poppins-regular-webfont.woff') format('woff'),
       url('../webfonts/poppins-regular-webfont.ttf') format('truetype'),
       url('../webfonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../webfonts/poppins-semibold-webfont.eot');
  src: url('../webfonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/poppins-semibold-webfont.woff2') format('woff2'),
       url('../webfonts/poppins-semibold-webfont.woff') format('woff'),
       url('../webfonts/poppins-semibold-webfont.ttf') format('truetype'),
       url('../webfonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url('../webfonts/poppins-bold-webfont.eot');
  src: url('../webfonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/poppins-bold-webfont.woff2') format('woff2'),
       url('../webfonts/poppins-bold-webfont.woff') format('woff'),
       url('../webfonts/poppins-bold-webfont.ttf') format('truetype'),
       url('../webfonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'fa-rupee';
  src: url('../webfonts/indianrupee-webfont.eot');
  src: url('../webfonts/indianrupee-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/indianrupee-webfont.woff2') format('woff2'),
       url('../webfonts/indianrupee-webfont.woff') format('woff'),
       url('../webfonts/indianrupee-webfont.ttf') format('truetype'),
       url('../webfonts/indianrupee-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {padding:0;margin:0;font-size: 15px;font-family: 'poppins', sans-serif;font-style: normal;color: #000000;}
/* .container, .container-lg, .container-md, .container-sm {max-width: 1280px !important;} */
.row-zero{margin-left:0px; margin-right:0px}
.row-zero > [class^="col"]{padding-left:0px;padding-right:0px;}
.row-xxs{margin-left:-0.5px; margin-right:-0.5px}
.row-xxs > [class^="col"]{padding-left:1px;padding-right:0.5px;}
.row-xs { margin-left:-2px; margin-right:-2px; }
.row-xs > [class^="col"] { padding-left:2px; padding-right:2px; }
.row-sm { margin-left:-8px; margin-right:-8px; }
.row-sm > [class^="col"] { padding-left:8px; padding-right:8px; }
.row-md { margin-left:-10px; margin-right:-10px; }
.row-md > [class^="col"] { padding-left:10px; padding-right:10px; }
.no-margin { margin-left:0px; margin-right:0px; }
.no-margin > [class^="col"] { padding-left:0px; padding-right:0px; }
.row-grid {margin-bottom:1rem;}
.row-grid-2 { margin-bottom: 3rem;}

b{font-weight: 500;}
strong{font-weight: 600;}
/* ::before,::after{ font-family: 'FontAwesome';} */
/* ::before,::after{font-family: 'Font Awesome 5 Free';} */
a{transition:all 0.5s ease;text-decoration:none;color: #9A2E00;}
a:hover,a:focus{transition:all 0.5s ease;color:#333E69;text-decoration:none;}
.container {position: relative;}
.btn-primary {background: #9A2E00;font-weight: 500;font-size: 16px;padding: 10px;color: #ffffff;border: 1px solid #9A2E00;border-radius: 4px;display: inline-block;text-align: center;transition:all 0.5s ease;}
.caption .btn-primary:hover {border-color: #9A2E00;background: #F5F8F6; color:#9A2E00}
.btn-primary:hover {border-color: #c69c6e;background: #c69c6e;color:#fff;}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary-o:focus,
.inner-pg .btn-primary:not(:disabled):not(.disabled).active,
.inner-pg .btn-primary:not(:disabled):not(.disabled):active,
.inner-pg .show>.btn-primary.dropdown-toggle,
.inner-pg .btn-primary.focus,
.inner-pg .btn-primary:focus {box-shadow: none;background: #c69c6e;border: 1px solid #c69c6e;color: #fff;}

.btn-primary-o {background: #fff;font-weight: 500;font-size: 14px;padding: 10px 25px;color: #9A2E00;border: 1px solid #9A2E00;border-radius: 2rem;display: inline-block;text-align: center;transition:all 0.5s ease;}
.btn-primary-o:hover {color: #fff;border: 1px solid #333E69;background: #333E69;}
.btn-secondary {background: #fff;font-weight: 600;font-size: 12px;padding: 10px 25px;color: #000;border: 1px solid #000;border-radius: 2rem;display: inline-block;text-align: center;transition: all 0.5s ease !important;}
.btn-secondary:hover{border-color: #9A2E00;background: #9A2E00; color:#fff}

select {cursor:pointer}
/* Important styles */
header {width: 100%;}
header.fixedHeader{position:fixed; top:0; background:#fff; z-index:9}
.footer-toggler .footer-links {margin: 0 auto;width: 100%;max-width: 1280px;}
.footer-toggler > span {display:none;}
.footer-toggler .footer-nav {background:#9A2E00;color:#000;padding:0.2rem;cursor:pointer;}
.footer-toggler .footer-nav:after {content: "\f106";font-family: 'Font Awesome 5 Brands';}
.footer-toggler .footer-nav i{float: right;line-height: 1.2rem;font-size: 2rem;margin-right: 10px;}

/*****Common Section******/
.back-to-top {position: fixed !important;display: none;right: 0px;bottom: 5px !important;z-index: 9;}
.back-to-top i {display: flex;align-items: center;justify-content: center;font-size: 16px;width: 40px;height: 40px;border-radius: 50px;background: #9A2E00;color: #fff;transition: all 0.4s;position: fixed;right: 10px;bottom: 0;}
.back-to-top i:hover {background: #333e69;color: #fff;}
.lds-ring {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 9999;overflow: hidden;background: #fff;}
.lds-ring div {box-sizing: border-box;display: block;position: fixed;top: calc(50% - 30px);left: calc(50% - 30px);width: 64px;height: 64px;margin: 8px;border: 8px solid #9A2E00;border-radius: 50%;animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;border-color:#9A2E00 transparent transparent transparent;}
.lds-ring div:nth-child(1) {animation-delay: -0.45s;}
.lds-ring div:nth-child(2) {animation-delay: -0.3s;}
.lds-ring div:nth-child(3) {animation-delay: -0.15s;}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text-link {color:#9A2E00;text-decoration: none;text-align: center;display: block;padding-top: 5px;}
.text-link:hover { text-decoration: underline;}
.fa-rupee:before{content:'`';font-family: 'fa-rupee' !important;font-weight: normal;left: 3px;position: relative;}
/*****Common Section******/

.logo-bar{display: flex;justify-content: space-between;padding: 5px 0;align-items:center;}
.logo-bar .contact-num{}
.logo-bar .contact-num > div{padding-left:50px;position: relative;display: inline-block;vertical-align: middle;}
.logo-bar .contact-num .emailBlock{margin-left: 10px;}
.logo-bar .contact-num .callBlock a:first-child:before{content:'';position:absolute;left: -50px;top: 8px;width:37px;height:37px;background:#9A2E00 url('/resources/images/common/icons/call-icon.png') no-repeat center center;border-radius:100%;}
.logo-bar .contact-num .emailBlock a:before{content:'';position:absolute;left:0;top: -5px;width:37px;height:37px;background:#9A2E00 url('/resources/images/common/icons/email-icon.png') no-repeat center center;border-radius:100%;}
.logo-bar .contact-num a{font-size: 17px;color: #9A2E00;letter-spacing: 0.3px;font-weight: 400;display:block;}.logo-bar .contact-num a:hover{color: #000;}

.banner {height: 450px; position: relative;}
.banner::after {background: url('/resources/images/header-shape.png') no-repeat center bottom;content: '';position: absolute;bottom: 0px;width: 100%;height: 145px;}
.banner figure{overflow: hidden;width: 100%;height: 100%;margin: 0;position: relative;}
.banner figure::before{content: '';background: url('/resources/images/header-shape.png') no-repeat center bottom;width: 100%;height: 145px;position: absolute;bottom: 0;right: -1258px;text-align: center;-webkit-transform: scaleX(-1);transform: scaleX(-1);z-index: 1;}
.banner figure::after{content: '';background: url('/resources/images/header-shape.png') no-repeat center bottom;width: 100%;height: 145px;position: absolute;bottom: -2px;left: -1257px;text-align: center;-webkit-transform: scaleX(-1);transform: scaleX(-1);}
.banner figure img{position: relative;transition: all 0.5s ease;height: 100%;width: 100%;object-fit: cover;object-position: bottom;}
.banner figcaption {font-size: 107px;font-weight: 600;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);text-align: center;width: auto;z-index: 1;color:#fff;line-height:normal;text-transform: uppercase;}
.banner figcaption > span{font-size:20px;font-weight: 600;display: block;text-transform: uppercase;padding: 10px 5px;border:solid 2px #fff;margin: 0 auto;width: auto;text-shadow: 2px 2px 5px rgb(0 0 0 / 34%);}
.banner figcaption > span > span{display:inline-block}
.banner figcaption > span > i{font-size: 18px;}
.content{background: #EEEDE9;padding-top:20px;}
.banner ~ .content{margin-top: -60px;}
.content h3{font-size: 20px;font-weight: 400;line-height: 25px;}
.content .right{padding: 13px 20px 20px 20px;border-radius: 12px;background: #fff;-webkit-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);-moz-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);}
.content .package-listing{margin:0;padding:0;display: block;width: 100%;}
.content .package-listing > li{margin: 0 0 30px 0;padding: 0;list-style: none;border-radius: 12px;background: #fff;-webkit-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);-moz-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);overflow: hidden;}
.content .package-listing > li{display: flex;/* align-items: flex-start; *//* height: 100%; *//* min-height: 100%; *//* padding-left: 371px; */position: relative;}
.content .package-listing > li figure{width: 371px;height: auto;margin-bottom: 0;/* position: absolute; *//* left: 0; */overflow: hidden;}
.content .package-listing > li figure img{object-position: center;width: 100%;height: 100%;object-fit: cover;transition: ease all 0.5s;}
.content .package-listing > li:hover figure img{-moz-transform: scale(1.1) translate(0, 0);-webkit-transform: scale(1.1) translate(0, 0);-o-transform: scale(1.1) translate(0, 0);-ms-transform: scale(1.1) translate(0, 0);transform: scale(1.1) translate(0, 0);}
.content .package-listing > li .details{padding: 12px 20px 16px 38px;}
.content .package-listing > li figure ~ .details{width: calc(100% - 371px);}
.content .package-listing > li .details p{margin-bottom:10px;}
.content .package-listing > li .details h2{color: #9A2E00;font-weight: 600;font-size: 24px;}
.content .package-listing > li .details h4{color: #9A2E00;font-weight: 600;font-size: 14px;text-transform:uppercase;margin-bottom: 8px;}
.content .package-listing > li .details h4 > small{font-size:15px; font-weight:400; text-transform:none}
.content .package-listing > li .details .price{display: flex;justify-content: space-between;align-items: center;}
.content .package-listing > li .details .price a{width: 48%;font-size: 15px;transition: all ease 0.5s;}
.content .package-listing > li .details .price a.itinary{background: #c69c6e; border:solid 1px #c69c6e;}
.content .package-listing > li .details .price a.itinary:hover{background: #9A2E00; border:solid 1px #9A2E00;}
.content .package-listing > li .details .amt{font-size: 32px;font-weight:400;position:relative;line-height: normal;margin-bottom: 10px;}
.content .package-listing > li .details .amt > .star-mark{font-size:15px;position: absolute;top: 6px;}
.content .package-listing > li .inclusions{margin: 0 0 15px 0;padding:0;list-style:none;}
.content .package-listing > li .inclusions > li{display:inline-block; margin-right:25px;}

.content .right h3{margin-bottom: 20px;}
form .form-control, 
form .form-control:focus {border: 1px solid #9D9D9D;border-radius: 5px;color: #333333;font-size: 14px;font-weight: 400;padding: 3px 14px;height: calc(1.5em + .75rem + 7px);position:relative;/* line-height: 40px; */}
form .form-control::placeholder {color: #B4B4B4;font-size: 14px;font-weight: 400;line-height: 40px;}
form .form-control.disabled {opacity: 0.5;background: 0 0;}
form .form-control:focus {box-shadow: none;outline: 0;}
form textarea.form-control{min-height:75px; resize:none}
form .form-group {position: relative;margin-bottom: 0px;padding-bottom: 0px;text-align: left;}
form .form-group + .form-group{margin-top: 15px;}
form .form-group > label{font-size: 15px;font-weight: 400;color:#1B2134;margin-bottom: 4px;}
form .btn-login{background: #0847AA;border-radius: 5px;width: auto;min-width: 150px;color: #ffffff;font-size: 14px;font-weight: 500;text-transform: uppercase;letter-spacing: 2px;transition:all 0.3s ease !important;padding: 15px;margin-top: 20px;}
form .btn-login > span{position: relative;display: inline-block;}
form .btn-login > span:before{content:'\f30b';font-size: 15px;color: #fff;position:absolute;top: -1px;right: 0;opacity: 0;display:inline-block;font-weight:900;font-family:'Font Awesome 5 Free';transition:all 0.3s ease !important;display: block;}
form .btn-login:hover {background: #3d6db3; color:#fff; padding: 15px 30px 15px 15px;}
form .btn-login:hover > span:before{ right:-20px; opacity: 1;}

.cust-select {position: relative;}
.cust-select::after {content:'';width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #9D9D9D;position: absolute;right: 10px;top: 15px;}
.cust-select select, .cust-select select:focus {-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;appearance: none;text-overflow: ellipsis;white-space: nowrap;padding-right: 22px;color:#B4B4B4;padding: 0 30px 0 14px;border: 1px solid #9D9D9D;border-radius: 5px;font-size: 14px;font-weight: 400;height: calc(1.5em + .75rem + 7px);position: relative;width: 100%;outline: none;}


form .btn-block {text-align: center;margin-top: 20px;}
form .btn-block .btn{width: 100%; display: block;}
form.form{position:relative;}
.mandate-txt{position: absolute;right: 0;top: -20px;width: 100%;text-align: right;font-size:12px; color:rgb(27 33 52 / 0.6)}

.footer-sec{background:#EEEDE9;padding-top: 50px;margin-top: -20px;position: relative;display: flex;width: 100%;z-index: 0;overflow: hidden;}
.footer-sec::before{content: '';background: url('/resources/images/footer-bg.png') repeat-x bottom center;width: 100%;height: 188px;position: absolute;bottom: 0;z-index: 1;}
.footer-sec > .container {/* margin: 0px 0 25px 0; */padding: 0;border-radius: 12px;background: #fff;-webkit-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);-moz-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);position:relative;text-align: center;/* z-index: -1; */}
.enquire-more{margin: 0px 0 25px 0;padding:20px;text-align: center;width: 100%;position: relative;z-index: 9;}
.enquire-more .condition-txt{position:absolute;top: -34px;right:0;font-size: 12px;color: rgb(27 33 52 / 60%);}
.enquire-more b{color:#000000;}
.enquire-more h3{font-size:20px; font-weight:500; margin:12px 0}
.enquire-more h3 > span{font-size:20px; font-weight:normal;display: inline-block;}
.enquire-more h3 > span > a{display: inline-block;}
.enquire-more .light-text {font-size: 15px;font-weight: normal;color:#646463;}

.social-media {display: flex;align-items: center;}
.social-media ul {list-style: none;margin: 0;padding: 0;text-align: center;display: inline-block;}
.social-media ul li{display: inline-block;vertical-align: middle;}
.social-media ul li + li{margin-left: 6px;}
.social-media ul li a i {width: 41px;height: 41px;position: relative;border-radius: 100%;display: table;transition: all 0.5s ease;}
.social-media ul li a i:before {padding-top: 0rem;font-size: 32px;text-align: center;vertical-align: middle;display: table-cell;}
.social-media ul li a:hover i { opacity: 0.7;}
.fc-facebook{content: '';background: url(../images/common/icons/fc-facebook.png) no-repeat;background-size: 100%;}
.fc-instagram{content: ''; background: url(../images/common/icons/fc-instagram.png) no-repeat;background-size: 100%;}
.fc-linkedin{content: ''; background: url(../images/common/icons/fc-linkedin.png) no-repeat;background-size: 100%;}
.social-media span {display: inline-block;vertical-align: middle;margin-right: 10px;/* margin-top: 9px; */font-size: 14px;font-weight: 500;}
.footer-link{display: flex;justify-content: space-between;align-items: center;margin-bottom: 5px;position: relative;z-index: 9;}
.copyright{font-size:13px;font-weight:normal;color:rgb(0 0 0 / 0.6);margin-bottom: 10px;position: relative;z-index: 9;text-align: left;}
.visit-link {font-size: 13px;font-weight: 400;/* line-height: 41px; */display: block;}
.visit-link a{color: #9A2E00;}
.visit-link a:hover{color: #000;}
.visit-link a + a{padding-left: 8px;margin-left: 5px;border-left: solid 1px #707070;}
.thank-you-block{border-radius: 12px;background: #fff;-webkit-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);-moz-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);padding: 33px 45px;margin: 90px 0;max-width: 760px;font-size: 20px;}
.thank-you-block .social-media{margin: 0 auto;display: block;transform: none;text-align: center;}
.thank-you-block .social-media span{display:block;font-weight: 400;font-size: 15px;}
.thank-you.modal .modal-dialog {max-width: 350px;}
.thank-you.modal .content{padding: 0; background:none; border-radius:12px;}
.thank-you.modal .btn-close{position:absolute; right:-10px; top:-10px; width:30px; height:30px; border-radius:100%; border:solid 1px #fff; background:#9A2E00;}
.thank-you.modal .btn-close:after{content:'x';color:#fff;text-align:center;padding: 1px 9px 8px 10px;position: absolute;left: 0;top: 0;font-size: 18px;}

/* .common.modal .modal-dialog {max-width: 350px;} */
.common.modal .content{padding: 0; background:none; border-radius:12px;}
.common.modal .content .right{padding: 13px 20px 20px 20px;border-radius: 12px;background: #fff;-webkit-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);-moz-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 0.2);}
.common.modal .btn-close{position:absolute; right:-10px; top:-10px; width:30px; height:30px; border-radius:100%; border:solid 1px #fff; background:#9A2E00;}
.common.modal .btn-close:after{content:'x';color:#fff;text-align:center;padding: 1px 9px 8px 10px;position: absolute;left: 0;top: 0;font-size: 18px;}
.common.modal .btn-close:hover{background: #c69c6e;}
.common.modal .content h2{color: #9A2E00;font-weight: 600;font-size:25px;margin-bottom: 15px;}
.common.modal .content h3{color: #000;font-size: 16px;font-weight: 500;line-height: 20px;margin-bottom: 5px;}
.common.modal .content li:last-child p{margin:0;}
.common.modal .itinerary{margin: 0; padding: 0; list-style: none; counter-reset: days;}
.common.modal .itinerary > li{padding-left: 70px;position: relative;}
.common.modal .itinerary > li::before{content: 'Day ' counter(days);counter-increment: days;position: absolute;left: 0;top:0;font-size: 16px;font-weight: 500;line-height: 20px;margin-bottom: 10px;}

/* ladakh-mountain css  */
.ladakh-mountain #cards_landscape_wrap-2{text-align: center;background: #F7F7F7;}
.ladakh-mountain #cards_landscape_wrap-2 .container{padding-top: 80px; padding-bottom: 100px;}
.ladakh-mountain #cards_landscape_wrap-2 a{text-decoration: none;outline: none;}
.ladakh-mountain #cards_landscape_wrap-2 .card-flyer {border-radius: 5px;}
.ladakh-mountain #cards_landscape_wrap-2 .card-flyer .image-box{background: #ffffff;overflow: hidden;box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);border-radius: 5px;}
.ladakh-mountain #cards_landscape_wrap-2 .card-flyer .image-box img{-webkit-transition:all .9s ease; -moz-transition:all .9s ease; -o-transition:all .9s ease;-ms-transition:all .9s ease; width: 100%;height: 200px;}
.ladakh-mountain #cards_landscape_wrap-2 .card-flyer:hover .image-box img{opacity: 0.7;-webkit-transform:scale(1.15);-moz-transform:scale(1.15);-ms-transform:scale(1.15);-o-transform:scale(1.15);transform:scale(1.15);}
.ladakh-mountain #cards_landscape_wrap-2 .card-flyer .text-box{text-align: center;}
.ladakh-mountain #cards_landscape_wrap-2 .card-flyer .text-box .text-container{padding: 30px 18px;}
.ladakh-mountain #cards_landscape_wrap-2 .card-flyer{background: #FFFFFF;margin-top: 50px;-webkit-transition: all 0.2s ease-in;-moz-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;transition: all 0.2s ease-in;box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);}
.ladakh-mountain #cards_landscape_wrap-2 .card-flyer:hover{background: #fff;box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);-webkit-transition: all 0.2s ease-in;-moz-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;transition: all 0.2s ease-in;margin-top: 50px;}
.ladakh-mountain #cards_landscape_wrap-2 .card-flyer .text-box p{margin-top: 10px;margin-bottom: 0px;padding-bottom: 0px; font-size: 14px;letter-spacing: 1px;color: #000000;}
.ladakh-mountain #cards_landscape_wrap-2 .card-flyer .text-box h6{margin-top: 0px;margin-bottom: 4px; font-size: 18px;font-weight: bold;text-transform: uppercase;font-family: 'Roboto Black', sans-serif;letter-spacing: 1px;color: #00acc1;}

/* kashmir page  */
.kashmir-page .banner figure figcaption h1{    color: #FFF;font-family: Poppins;font-size: 60px;font-style: normal;font-weight: 700;line-height: 74.612px;letter-spacing: 1.8px;}
.kashmir-page .banner figure figcaption p{color: #FFF;font-family: Poppins;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;letter-spacing: 0.4px;}
.kashmir-page .banner figure figcaption ul{display: flex;align-items: center;padding: 0;margin: 0;    height: 62.055px;}
.kashmir-page .banner figure figcaption ul li:nth-child(2){position: relative; flex-direction: row; border-right: 1px solid #fff;border-left: 1px solid #fff;padding: 0 30px;margin: 0 30px;}
.kashmir-page .banner figure figcaption ul li:nth-child(2) span{position: absolute; top: 0;font-weight: bold;}
.kashmir-page .banner figure figcaption ul li{list-style: none;height: 100% ;display: flex;align-items: center;flex-direction: column;justify-content: space-between;}
.kashmir-page .banner figure figcaption ul li img {width: 37.555px;height: 37.555px;    object-fit: contain; margin: 0 10px; margin-top: 25px;}
.kashmir-page .banner figure figcaption ul li h2{color: #FFF;margin: 0;font-family: 'Poppins';font-size: 35px;font-style: normal;font-weight: 500;letter-spacing: 0.7px;text-transform: uppercase;margin-top: 14px;}
.kashmir-page .banner figure figcaption ul li:first-child h2{font-size: 25px;    margin-top: 18px;}
.kashmir-page .banner figure figcaption ul li span{color: #FFF;font-family: Poppins;font-size: 15px;font-style: normal;font-weight: 400;letter-spacing: 0.3px;text-transform: initial;}
.kashmir-page .banner figure figcaption ul li span b {    font-weight: bold;text-transform: uppercase;}
.kashmir-page .banner figure::after, .kashmir-page .banner::after,.kashmir-page .banner figure::before{background: none;}
.kashmir-page .banner{height: 650px;}
.kashmir-page .banner figcaption{font-size: inherit;}
.kashmir-page .content .row h3{  color: #000;font-family: Poppins;font-size: 20px;font-style: normal;font-weight: 500;line-height: 25px;letter-spacing: 0.6px;}
.kashmir-page .content .row .itinerary-cards{padding-left: 0; display: flex;margin-bottom: 40px;}
.kashmir-page .content .row .img-wrapper{margin-right: 30px;}
.kashmir-page .content .row .itinerary-content h6{ color: #000;font-family: 'Poppins';font-size: 16px;font-style: normal;font-weight: 500;line-height: 25px;letter-spacing: 0.48px;}
.kashmir-page .content .row .itinerary-content p{    color: #000;font-family: 'Poppins';font-size: 14px;font-style: normal;font-weight: 400;line-height: 23px;}
.kashmir-page .content .row .itinerary-content span{ color: #A4461D;}
.kashmir-page .content h5{padding: 20px 90px;color: #000;font-family: Poppins;font-size: 15px;font-style: normal;font-weight: 500;line-height: 25px;letter-spacing: 0.45px;margin-bottom: 2rem;}
.kashmir-page .photo-grid{ height: 365px;display: -ms-flexbox; /* IE10 */display: flex;-ms-flex-wrap: wrap; /* IE10 */flex-wrap: wrap;padding: 0 4px;}
.kashmir-page .photo-grid .column{ -ms-flex: 25%; /* IE10 */flex: 25%;max-width: 25%;padding: 0 4px;}
.kashmir-page .photo-grid .column img{margin-top: 8px;vertical-align: middle;width: 100%;}
.kashmir-page .content .explore-travel h5{    color: #000;font-family: Poppins;font-size: 30px;font-style: normal;font-weight: 600;line-height: normal;letter-spacing: 0.9px;text-align: center;margin-bottom: 0;padding-bottom: 20px;}
.kashmir-page .footer-sec::before{content: ''; background: url('/resources/images/footer-kahmir-page.png') no-repeat; background-size: 100% 100%;width: 103%;height: 188px;position: absolute;bottom: 0;z-index: 1;left: -20px;}
.kashmir-page .footer-sec::after{content: ''; background: url('/resources/images/kashmir-footer-layer.png') no-repeat;     background-size: 100% 100%;width: 100%;height: 188px;position: absolute;bottom: 95px;z-index: 1;}
.kashmir-page .banner ~ .content{margin-top: -210px;padding-top: 40px; background-color: #FFF7EF;}
.kashmir-page .banner figure img{object-fit: fill;}
@-moz-document url-prefix() {.cust-select select, .cust-select select:focus{padding: 0 30px 0 11px;}}
.kashmir-page .swiper-slider-warpper{     position: relative;top: -200px;    z-index: 1;}
.kashmir-page .swiper-container{height: 512px;}
.kashmir-page .swiper-slider-warpper .container{padding: 0;}
.kashmir-page .swiper-slide {display: flex;align-items: center;justify-content: center;box-sizing: border-box;}
.kashmir-page .swiper-slide .img-slide{width: 100%; height: 100%;}
.kashmir-page .swiper-slide .img-slide img{height: 100%;border-radius: 10px;width: 100%;object-fit: fill;}
.kashmir-page  form .form-group > label {    margin-bottom: 0;}
.kashmir-page .cust-select::after{content: ''; background: url('/resources/images/common/icons/down-arror-icon.svg') no-repeat;border: none;background-position-x: 0px;background-position-y: -6px;width: 20px;height: 20px;}
.kashmir-page .social-media ul li a img:hover{    transition: all 0.5s ease;opacity: 0.7;}
.kashmir-page .copyright{margin-top: 10px;}
.kashmir-page .enquire-more {    padding: 25px;}
.kashmir-page .enquire-more b {color: #000;text-align: center;font-family: 'Poppins';font-size: 15px;font-style: normal;font-weight: 500;line-height: normal;letter-spacing: 0.3px;}
.kashmir-page .enquire-more .light-text{    margin-bottom: 0.5rem;}
.kashmir-page .footer-sec{background: #FAF7F3;}
